<div class="container mt-3 mb-3 p-3 bg-light">
  <h1> My lists </h1>

  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
        <%= cl_image_tag list.photo.key, width: 400, height: 300, crop: :fill %>
      </li>
    <% end %>
  </ul>

</div>

<div class="container mt-3 mb-3 p-3 bg-light">
  <%= link_to "Create a new list", new_list_path %>
</div>